body{
    color: hotpink;
    background: rgb(218, 150, 231);
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
header{
    border-bottom: sold 2px rgb(198, 97, 211);
    padding: 20px;
    font-size: 32px;
    color: rgb(218, 150, 231)
}
.chamada{
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{font-size: 40px;
}
p{font-size: 20;}